
.tagline-container {
    display: flex;
    flex-wrap: nowrap;
  }

.tagline {
    position: relative;
    color: #e76f51;
    text-align: left;
    margin: 1em 0 0 1em;
    font-size: 6vw;
    font-weight: 400;
    animation: fadeInUp 1s;
  }


.you {
    color: #e9c46a
}

.profile-container {
  display: flex;
  flex-direction: column;
  margin: 20px 0 0 2em;
}

.profiles {
  margin: 1px;
  margin-left: 10em;
  animation: fadeInUp 1s;
  width: 21em;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}