.more-container {
    position: relative;
    top: 300px;
    color: #ffffff;
}

.more-text {
    text-align: left;
    margin: 1em 0 0 2.2em;
    font-size: 3vw;
    font-weight: 400;
}

.more-text2 {
    text-align: left;
    margin: 1em 0 0 2.4em;
    font-size: 2.75vw;
    font-weight: 400;
}

.more-box-container {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content:left;
    margin: 2em 0 2em 8em;
    top: 50px;
  }

.more-box1 {
    position: relative;
    border: 1px solid #e9c46a;
    width: 500px;
    height: 300px;
    border-radius: 5px;
}
.more-box2 {
    position: relative;
    left: 50px;
    border: 1px solid #e9c46a;
    width: 500px;
    height: 300px;
    border-radius: 5px;
}
.more-box3 {
    position: relative;
    left: 100px;
    border: 1px solid #e9c46a;
    width: 500px;
    height: 300px;
    border-radius: 5px;
}

.final-box {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    justify-content:center;
    top: 50px;
    border: 1px solid #e9c46a;
    width: 800px;
    height: 75px;
    border-radius: 5px;
    margin: auto;
    right: 20px;
}
