.container {
  width: 90vw;
  height: 78.5vh;
  margin-left: 4em;
  display: flex;
  flex-direction: row;
}

.filterbox {
  height: 75vh;
  width: 10vw;
  background-color: aliceblue;
  border-radius: 10px;
  margin-top: 1em;
  margin-left: 1em;
}

.userbox {
  height: 75vh;
  width: 75vw;
  border-radius: 10px;
  background-color: aliceblue;
  margin-top: 1em;
  margin-left: 2em;
  overflow-y: scroll;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.userbox::-webkit-scrollbar {
  width: 10px;
}

.userbox::-webkit-scrollbar-thumb {
  background-color: #2A9D8F;
  border-radius: 10px;
}

.user-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2A9D8F;
  color: aliceblue;
  margin: 1px;
  margin-left: 1em;
  margin-top: 1em;
  height: 75vh;
  width: 72vw;
  border-radius: 10px;
  text-overflow: ellipsis;
  text-align: center;
}

.profile-picture {
  position: relative;
  display: flex;
  height: 10vh;
  border-radius: 10px;
  top: -5vh;
  left: 1vh;
}

.background-picture {
  display: flex;
  position: relative;
  height: 13vh;
  width: 69vw;
  border-radius: 10px;
  top: 1em;
}

.message-btn {
  position: relative;
  width: 12vw;
  margin-left: 30vw;
  top: -1em;
}

.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center; 
  margin-top: 3vh;
}

.search-container input {
  height: 4vh;
  margin-top: 1vh ;
  border-radius: 10px;
}

input.submit-btn {
  margin-top: 1.4vh;
}
.search-container p {
  margin-right: 1vh;
}

.top-container {
  display: flex;
  justify-content: space-around;
}

.top-container h2 {
  margin-left: 2.5vw;
}

.reset-btn {
  height: 5vh;
  width: 10vw;
  margin-top: 4vh;
  border-radius: 100vmax;

}

.name {
  text-align: left;

}

.age {
  text-align: left;
}

.list-one {
  display: flex;
  justify-content: center;
  margin-top: -10vh;
}

.list-two {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.elem {
  margin-right: 5vw;
}

.list-two-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.info-elem {
  width: 40vw;
}