.big-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.container {
  background-color: aliceblue;
  width: 90vw;
  height: 80vh;
  margin-left: 4em;
  display: flex;
  flex-direction: row;
}
.filterbox {
  height: 75vh;
  width: 10vw;
  background-color: aqua;
  margin-top: 1em;
  margin-left: 1em;
}
.userbox {
  height: 75vh;
  width: 75vw;
  background-color: aquamarine;
  margin-top: 1em;
  margin-left: 2em;
}