.navbar {
  background-color: #2a9d8f;
}

.homeButton {
  font-weight: bold;
  font-size: 2.5vw;
}

.switch-mode {
  background-color: #2a9d8f;
  border-radius: 100vmax;
  border-color: #2a9d8f;
  margin: 3em 0;
  margin-right: 3vw;
}