@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.App {
  padding: 0px;
}

body {
  text-align: center;
  font-family: 'Raleway';
}

.navbar {
  background-color: #74D1AD;
  padding: 1em;
}

.nav-header {
  text-align: left;
  margin: 0 0 0 1.5em;
  font-size: 3em;
  font-weight: 500;
}

.tagline-container {
  display: flex;
  flex-wrap: nowrap;
}

.tagline {
  text-align: left;
  margin: 1em 0 0 1em;
  font-size: 7vw;
  font-weight: 500;
  animation: fadeInUp 1s;
}

span {
  color: #74D1AD;
}

.profiles_img {
  width: 32.7vw;
  height: 37vw;
  margin: 20px 2em 0 0;
}

.btn-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content:left;
  margin: 2em 0 2em 7em;
}

.get-started-btn {
  background-color: #74D1AD;
  border: none;
  color: white;
  font-size: 1.5vw;
  padding: 0.5em;
  border-radius: 10px;
  margin-right: 2em;
}

.get-started-btn:hover {
  background-color:#56ae8c;
}

.find-out-more-btn {
  background-color: white;
  border: 0.1em solid #74D1AD;
  color: #74D1AD;
  font-size: 1.5vw;
  padding: 0.5em;
  border-radius: 10px;
  margin-right: 2em;
}

.find-out-more-btn:hover {
  background-color: #74D1AD;
  color: white;
}


@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
  
}