@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.footer {
    background-color: #e9c46a;
    padding: 1em;
    position: relative;
    top: 620px;
  }

.footer-header {
  text-align: left;
  margin: 0 0 0 1.5em;
  font-size: 3em;
  font-weight: 500;
}

body {
    text-align: center;
    font-family: 'Raleway';
  }  



