@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap');

.create-profile {
  font-weight: bold;
  font-size: 2vw;
}

.navbar{
    background-color: #2a9d8f;
    padding: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.to-orange {
    color: #e76f51;
    font-size: 4.5vw;
}

.to-yellow {
    color: #e9c46a;
    font-size: 4.5vw;
}


.bigBox {
    border: solid 1px;
    border-radius: 40px;
    border-color: #B8B8B8;
    width: 70%;
    position: relative;
    left: 15%;
    height: 150vh;
}

.uploadBg {
    height: 24em;
    width: 99.4%;
    margin-top: 0.3%;
    margin-right: 0.3%;
    margin-left: 0.3%;
    border-radius: 40px;
    border: solid 4px;
    border-color: #B8B8B8;
    background: #E7E7E7;
}

.uploadPp {
    position: absolute;
    right: 67%;
    top: 11.6%;
    height: 20em;
    width: 30%;
    border-radius: 40px;
    border: solid 4px;
    border-color: #B8B8B8;
    background: #E7E7E7;
    z-index: 1;
}

.nameInput {
    position: relative; 
    left: 14%;
    margin-top: 3.5%;
    height: 2em;
    width: 15em;
    border-radius: 16px;
    border: solid 1px;
    border-color: #B8B8B8;
    font-size: 28px;
}

.ageInput {
    position: relative; 
    left: 18%;
    
}

.label {
    font-size: 1.8em;
    margin-top: 2%;
}

.input {
    margin-top: 2%;
    height: 2em;
    width: 4em;
    border-radius: 16px;
    border: solid 1px;
    border-color: #B8B8B8;
    font-size: 1.8em;
}

.dropdown {
    height: 2em;
    width: 5em;
    border-radius: 16px;
    border: solid 1px;
    border-color: #B8B8B8;
    font-size: 28px;
}

.budgetFromLabel {
    position: relative; 
    left: 10%;
}

.budgetFromInput {
    position: relative; 
    left: 8%;
}

.budgetToLabel {
    position: relative; 
    left: 24%;
}

.budgetToInput {
    position: relative; 
    left:14%;
}

.genderLabel {
    position: relative;
    left: -6%;
}

.genderInput {
    position: relative;
    left: -5%;
}

.personalityLabel {
    position: relative;
    left: 0%;
}

.personalityDropdown {
    position: relative;
    left: 1%;
}

.smokesLabel {
    position: relative;
    left: 3%;
}

.smokesDropdown {
    position: relative;
    left: 4%;
}

.petsLabel {
    position: relative;
    left: -14%;
}

.petsDropdown {
    position: relative;
    left: -13%
}

.hygieneLabel {
    position: relative;
    left: -10%;
}

.hygieneDropdown {
    position: relative;
    left: -9%;
}

.aboutLabel {
    position: relative; 
    font-size: 28px;
    left: -39%;
    margin-top: 2%;
    width: 4em;
}

.aboutInput {
    position: relative; 
    font-size: 28px;
    left: -0.5%;
    margin-top: 2.5%;
    width: 91%;
    height: 50vh;
    border-radius: 16px;
    border: solid 1px;
    border-color: #B8B8B8;
}